<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.wq.myandroidtoolspro"
    xmlns:tools="http://schemas.android.com/tools">
    <!--<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" tools:node="remove"/>-->

    <!-- tencent adnet -->
    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
    <!--<uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />    &lt;!&ndash; targetSdkVersion >= 26 时需要配置此权限，否则无法进行安装app的动作 &ndash;&gt;-->

    <uses-sdk tools:overrideLibrary="android.support.graphics.drawable.animated,com.google.firebase,com.google.firebase.firebase_core,com.google.android.gms,com.google.android.gms.measurement,com.google.android.gms.tasks,com.google.android.gms.measurement.impl,com.google.android.gms.base,com.google.firebase.iid,com.google.firebase.crash,com.google.firebase.firebase_ads,com.google.android.gms.ads.impl,com.google.android.gms.ads,com.google.android.gms.clearcut"/>

    <uses-permission android:name="moe.shizuku.manager.permission.API_V23"/>
    <uses-permission android:name="moe.shizuku.manager.permission.API"/>
    <!--<uses-permission android:name="android.permission.CHANGE_COMPONENT_ENABLED_STATE"/>-->

    <application
        android:theme="@style/AppTheme"
        tools:replace="android:theme"
        tools:ignore="GoogleAppIndexingWarning">
        <!--android:hardwareAccelerated="true">-->
        <!--android:usesCleartextTraffic="true">-->

        <activity
            android:name=".MainActivity"
            tools:remove="android:theme">
        </activity>
        <activity
            android:name=".MainDarkActivity"
            android:icon="@mipmap/ic_launcher"
            tools:remove="android:theme"
            tools:replace="android:icon">
        </activity>

        <receiver android:name=".AppInfoReceiver"
            tools:node="replace">
            <intent-filter>
                <action android:name="${applicationId}.SHOW_APP_INFO" />
            </intent-filter>
        </receiver>


        <!--
        <activity
            android:name="com.inmobi.rendering.InMobiAdActivity"
            android:configChanges="keyboardHidden|orientation|keyboard|smallestScreenSize|screenSize|screenLayout"
            android:hardwareAccelerated="true"
            android:resizeableActivity="false"
            android:theme="@android:style/Theme.NoTitleBar"
            tools:ignore="UnusedAttribute" />
        <service
            android:name="com.inmobi.ads.ApkDownloader$ApkDownloadService"
            android:enabled="true">
        </service>
        -->
        <!--
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
            -->
        <!-- 17.0.0开始要加com.google.android.gms.ads.APPLICATION_ID，https://developers.google.com/admob/android/quick-start#update_your_androidmanifestxml  -->


        <!-- tencent adnet -->
        <!--
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <service android:name="com.qq.e.comm.DownloadService" android:exported="false" />
        <activity android:name="com.qq.e.ads.ADActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:name="com.qq.e.ads.PortraitADActivity" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:name="com.qq.e.ads.LandscapeADActivity" android:screenOrientation="landscape" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/gdt_file_path" />
        </provider>
        -->

    </application>
</manifest>
